body {
  font-family: Arial, sans-serif;
  text-align: center;
}

img{
  z-index: -1;
  position: absolute;
  height: 710px;
  width: 1535px;
  left: 0;
  top: 0;
  right: 0;

}
.container {
  position: relative;
  top: 245px;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  position: relative;
  top: 250px;
  font-size: 30px;
  text-decoration: underline;

  color: #0d0e0e;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

select, input[type="number"] {
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  border-style: dotted;
  border: 2px solid #e146df;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #3e8e41;
}

#result {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
